@import './base.css';
@import "fonts/poppins/poppins.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-size: 15px;
    font-family: Poppins, sans-serif !important;
    background-color: rgb(241, 245, 249);
}



