@import './base.css';
@import "fonts/poppins/poppins.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-size: 15px;
    font-family: Poppins, sans-serif !important;
    background-color: rgb(241, 245, 249);
}

/*Form Checkbox*/
input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 17px;
    height: 17px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    outline: 0 !important;
    top: 0;
}

input[type=checkbox]:before {
    content: "";
    background: #fec33b;
    width: 9px;
    height: 9px;
    display: block;
    margin: 3px auto;
    opacity: 0;
}

input[type=checkbox]:checked:before {
    opacity: 1;
}

/*Form Checkbox*/


/*Navbar*/
.navbar-collapse {
    background: #f0f0f0;
}

.navbar-item {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
}

.navbar-item .item {
    display: block;
    float: left;
    position: relative;
}

.navbar-item .item a {
    color: #0c3b5d;
    float: left;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding: 18px 20px;
}

/*NAVBAR END*/